@media only screen and (max-width: 26em) {

  body {
    padding: 1em;
  }

  #container {
    width: 100% !important;
  }

  .detail, .projects, .footer {
    width: 100%;
  }

  .projects .project .logo {
    width: 100%;
  }

  .projects .project img {
    height: 80px;
  }

  .projects .project .description {
    text-align: center;
    padding: 10px;
  }

}
